#users-container{
    width: 25%;
    padding-left: 1vw;
    #search-user{
        background-color: white;
        border-radius: 2%;
        margin-bottom: 0.5em;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        ::placeholder{
        color: #5a5a5a;
        font-weight: 200;
        }
        input{
            background-color: #F9F9F9;
            border: none;
            margin: 0.3em;
            width: 100%;
            font-size: 1.2vw;
            height: 2vw;
        }
    }
}