body {
  margin-left: 0px;
  margin-right: 0px;
}
body #top-level {
  font-family: IRANSans; direction: rtl;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body #top-level #top-bar {
  background-color: white;
  height: 5%;
  min-height: 41px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body #top-level #top-bar div {
  margin: 5%;
  margin-right: 10%
}
body #top-level #top-bar #links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  margin-left: 10%; 
}
body #top-level #top-bar #links p {
  font-family: "Calibri" sans-serif;
  margin: 5px 5px 5px 5px;
}
body #top-level #top-bar img {
  width: 100px;
  height: 40px;
}
body #top-level #container {
  height: 100%;
  margin-bottom: 50px;
  background-color: white;
}
body #top-level #container #fixer {
  height: 5%;
  min-height: 41px;
  width: 100%;
}
body #top-level #container #top-blue {
  background-color: #B9EEF2;
  height: 20%;
  min-height: 90px;
  max-height: 120px;
  margin-bottom: -70px;
}
body #top-level #container #info-container {
  /* background-color: #F6F6F6; */
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body #top-level #container #info-container #job-info {
  width: 80%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
body #top-level #container #info-container #job-info #description {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px #24CACF dashed;
}
body #top-level #container #info-container #job-info #description #image {
  height: 100%;
  width: calc();
  margin: 10px 10px 10px 10px;
}
body #top-level #container #info-container #job-info #description #image img {
  height: 100px;
  width: 100px;
}
body #top-level #container #info-container #job-info #description #details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px 10px 10px;
  height: 100%;
}
body #top-level #container #info-container #job-info #description #details img{
  height: 10px;
  width: 10px;
}
body #top-level #container #info-container #job-info #description #details #title{
  margin-top: 0px;
  margin-bottom: 10px;
}
body #top-level #container #info-container #job-info #description #details .property{
  margin-top: 0px;
  margin-bottom: 5px;
}

body #top-level #container #info-container #job-info #description #details #explanation{
  margin-bottom: 5px;
}
body #top-level #container #info-container #job-info #description #details p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}
body #top-level #container #info-container #job-info #skills {
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px #d3d3d3 solid;
}
body #top-level #container #info-container #job-info #skills #skills-title {
  margin-bottom: -10px;
  margin-right: 5%;
  margin-left: 5%;
}
body #top-level #container #info-container #job-info #skills #skill-items-container {
  direction: ltr;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}
body #top-level #container #info-container #job-info #skills #skill-items-container .skill {
  border-radius: 5% 5% 5% 5%;
  padding: 2px 2px 2px 2px;
  margin-right: 15px;
  margin-top: 5px; 
  margin-bottom: 5px;
  border: 1px rgb(177, 177, 177) solid;
  background-color: white;
}

body #top-level #container #info-container #job-info #skills #skill-items-container .point {
  border-radius: 5% 5% 5% 5%;
  padding: 1px 1px 1px 1px;
  background-color: #BCEFF3;
}
body #top-level #container #info-container #job-info #offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5%;
}
body #top-level #container #info-container #job-info #offer #offer-title img {
  width: 10px;
  height: 10px;
}
body #top-level #container #info-container #job-info #offer #form {
  margin-top: -15px;  
  margin-bottom: 5px;
}
body #top-level #container #info-container #job-info #offer input {
  border-radius: 5% 5% 5% 5%;
  border: 2px #6BD3DD solid;
  height: 25px;
}
body #top-level #container #info-container #job-info #offer button {
    border-radius: 5% 5% 5% 5%;
    background-color: #1CAEBE;
    height: 30px;
}
  
body #top-level #container #info-container #job-info #offer input:focus {
  border-color: blue;
}
body #top-level #copyright-notice {
  position: fixed;
  bottom: 0;
  background-color: #363636;
  width: 100%;
  height: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
