#skills-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    .skill{
        background-color: #F9F9F9;
        margin: 0em 0.1em 0em 0.1em;
        border: 1px #EFEFEF solid;
        border-radius: 2%;
        font-size: 0.8vw;
        color: #7A7A7A;
        border: none;
    }
    .skill-with-point, .skill-with-point:disabled {
        display: flex;
        justify-content: space-between;
        border-radius: 2%;
        padding: 0.2em;
        margin-right: 1em;
        margin-bottom: 5px;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        background-color: white;
        vertical-align: 0px;
        border: none;
        color: black;
        height: fit-content;
        .point {
            border-radius: 5%;
            padding: 0em 0.5em 0em 0.5em;
            margin-left: 0.5em;
            background-color: #BCEFF3;
            height: 1.5em;
            font-size: 1em;
            color: #539B98;
            border: none;
            p{
                margin: 0;
            }
        }
        .endorsed-point {
            background-color: #24AF25;
            color: #F8FCED;
        }
    }

    .user-skill:hover:enabled{
        cursor: pointer;
        p{
            display: none;
        }
        .point{
            background-color: #24AF25;
            color: #F8FCED;  
        }
        .point:before {
            content:"+";
        }

        .own-skill-point{
            background-color: red;
            color: #F8FCED;
        }
        .own-skill-point:before {
            content:"-";
        }
    }
}