.reg-log-btn{
    height: fit-content;
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #17B0BE;
    color: rgb(175, 213, 231);
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}