body {
  font-family: IRANSans;
  direction: rtl;
  margin-left: 0px;
  margin-right: 0px;
}

body font {
  font-weight: 91;
}

body a {
  text-decoration: none;
}

body #top-level {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body #top-level #top-bar {
  background-color: white;
  height: 7%;
  min-height: 41px;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

body #top-level #top-bar div {
  margin-top: 1vh;
  margin-right: 10vw;
}

body #top-level #top-bar #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh;
  margin-left: 10vw;
}

body #top-level #top-bar #links p {
  margin: 5px 5px 5px 5px;
}

body #top-level #top-bar img {
  width: 7.5em;
  height: 2.5em;
}

body #top-level #container {
  height: 100%;
  margin-bottom: 7%;
  background-color: #F6F6F6;
}

body #top-level #container #fixer {
  height: 7%;
  min-height: 41px;
  width: 100%;
}

body #top-level #container #top-blue {
  background-color: #B9EEF2;
  height: 20vh;
  max-height: 120px;
  min-height: 90px;
  margin-bottom: -80px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

body #top-level #container #info-container {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #top-level #container #info-container #user-info {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #top-level #container #info-container #user-info #description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #top-level #container #info-container #user-info #description #image {
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 150px;
}

body #top-level #container #info-container #user-info #description #image img {
  border-radius: 10%;
  margin: 1px 1px 1px 1px;
  height: 100%;
  width: 100%;
  min-width: 60px;
  min-height: 60px;
}

body #top-level #container #info-container #user-info #description #details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 1em;
  height: 100%;
  margin-top: 100px;
}

body #top-level #container #info-container #user-info #description #details #name {
  font-size: 1.5em;
  margin: 0;
}

body #top-level #container #info-container #user-info #description #details #status {
  margin: 0;
}

body #top-level #container #info-container #user-info p {
  text-align: justify;
}

body #top-level #container #info-container #user-info #select-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #top-level #container #info-container #user-info #select-container #form {
  padding: 2px 2px 2px 2px;
  margin-right: 1em;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

body #top-level #container #info-container #user-info #select-container #form select {
  background-color: #F9F9F9;
  border: none;
  height: 3em;
  width: 15em;
}

body #top-level #container #info-container #user-info #select-container #form button {
  background-color: #0698A7;
  height: 3em;
  border: none;
  border-radius: 5%;
}

body #top-level #container #info-container #user-info #skill-items-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  direction: ltr;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}

body #top-level #container #info-container #user-info #skill-items-container .skill {
  border-radius: 2% 2% 2% 2%;
  padding: 2px 2px 2px 2px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

body #top-level #container #info-container #user-info #skill-items-container .point {
  border-radius: 5% 5% 5% 5%;
  padding: 0em 0.5em 0em 0.5em;
  margin-left: 0.5em;
  background-color: #BCEFF3;
}

body #top-level #copyright-notice {
  bottom: 0;
  background-color: #363636;
  width: 100%;
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */