body {
  font-family: IRANSans; direction: rtl;
	background-color: #F6F6F6;
  a{
    text-decoration: none;
  }
	
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}